body {
     background-image: url('cape-town-2107377_640.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    
}


p {
    text-align:top;
    font-size:10pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1pt;
    float:center;
    vertical-align:left; 
}
h2 {
  display: inline;
  border-bottom: 3px solid #f1f1f1;
}
    
.mySlide{
  align-content: center;
  width: 50%;
  padding: 0 10px;
  
}
/* The Modal (background) */
.modal {

  z-index: 3; 
  padding-top: 10px; /* Location of the box */
  
  width:90%;/* Full width */
  height:500px;/* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  border-radius: 20pt;
  background-color: white;
  
  }
  /* buttons */
  .proj{
    
      background-color: white;
      color: black;
      border: 2px solid #4CAF50; /* Green */
      padding: 12px 28px;
    
  }
  .proj2{
    
    background-color: white;
    color: black;
    border: 2px solid #af9d4c; /* Gold */
    padding: 12px 28px;
  
  }
  .column img{
    display: none;
  
  }
  /* Modal Content */
  .modal-content {
  background-color: #fefefe;
  z-index: 3; 
  padding: 20px;
  /* border: 1px solid #888; */
  width:60%;
  height:490px;
  margin-left: auto;
  margin-right: auto;
  /* display: none; */
  }
  /* .container{
    display: none;
  } */
  .mode{
  margin-left: auto;
  margin-right: auto;
  width:99%;
  height:200px;
  }
  .modal{
    display: none;
  }
  
  /* The Close Button */
  .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
  .exit{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .exit:hover,
    .exit:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
  
  @media (max-width:760px){
    .modal{
      width: 100%;
    }
    .bg-text{
      width:120%;
    }
   
  .modal-content{
  width:100%;
  height:300%;
  flex-wrap: wrap;
  
  
  }
  /* buttons */
  .proj{
    
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 12px 24px;
  
}
.proj2{
  
  background-color: white;
  color: black;
  border: 2px solid #af9d4c; /* Gold */
  padding: 12px 24px;

}
.card img{
  margin-left: auto;
  margin-right: auto;
  width:150%;
  /* height:80%; */
}
.cards img{
  margin-left: auto;
  margin-right: auto;
  width:150%;
  /* height:80%; */
}
.cards{
  width:150%;
}
.card{
  width:150%;
}

  
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    z-index: 3;
   
    
  }
  
  
  
  
  
  
  
  
  
     
  
  
  

 






    


/* .image img {
    height:50%;
    width:50%;
    position:absolute;
    top:50%;
    margin-top:-22px;
    padding:16px;
} */
.card img{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  /* height:80%; */
}
.cards img{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  /* height:80%; */
}
.cards{
  width:200%;
}
.card{
  width:200%;
}



body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}



/* Position modals in the middle of the overlay*/
.bg-text {
  margin-top: 0px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border-radius: 30pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 20pt;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* columns side by side
.column {
  float: left;
  width: 16.66%;
  }
   */

.topnav a.active {
  background-color:rgb(63, 160, 157);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  /* .topnav a:not(:first-child) {display: none;} */
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  


}
.mySlide{
  /* float: left; */
  width: 35%;
  padding: 0 10px;
}
.mySlider{
  /* float: left; */
  width: 35%;
  padding: 0 10px;
}
/* .main-container{
  display: none;
} */

/* style card that contain projects */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width:300%;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width:300%;
}
